:host {
  --color: #680068;
  --color-text: #eee;
  --color-hover: #8b008b;
  --color-disabled: #333;
  --color-warning: #ff4500;
  // by default, components are inline
  display: block;
  // se deixar inline, o border fica estragado
  font-family: sans-serif;
  border: 2px solid var(--color);
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
}

:host(.stock-price--error) {
  border-color: var(--color-warning);
}

.stock-price {
  &__input {
    display: block;
    color: var(--color);
    font: inherit;
    padding: 0.1rem 0.25rem;
    margin-bottom: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    font: inherit;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--color);
    background: var(--color);
    color: var(--color-text);
    transition: all 0.3s ease-out;

    &:hover,
    &:active {
      background: var(--color-hover);
      border-color: var(--color-hover);
    }

    &:focus {
      outline: none;
    }

    // &:disabled { poderíamos selecionar dessa forma tb
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed; // fica um proibido qd hover o botão
      // pointer-events: none;
      background: var(--color-disabled);
      border-color: var(--color-disabled);
    }
  }
}
